<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" type="text/css" href="tweet.css">
  <h1>twetter</h1>
</head>
<body>
<h2>tweetする</h2>
<%= render 'form' %>
</body>
<footer class="footer">
  <p>Copyright © 2018 DIVE INC All RIGHTS RESERVED.</p>
</footer>
</html>
